<div class="book-store-app">
  <div class="row">
    <div class="col-10">
      <form>
        <div class="form-group row">
          <label for="genreFilter" class="col-sm-2 col-form-label text-muted">Filter Genres</label>
          <select id="Id" #Id="ngModel" class="form-control col-sm-10" [(ngModel)]="genreId" name="genreFilter" (change)="selectGenre()">
            <option selected="" value=""></option>
            <option [value]="k.id" *ngFor="let k of $genres | async">
              {{ k.name }}
            </option>
          </select>
        </div>
      </form>
    </div>
    <div class="col-2">
      <button class="btn btn-primary float-right" (click)="onAdd()">Add</button>
    </div>
  </div>
  <div class="row">
    <div class="col ">
      <p><b>Id</b></p>
    </div>
    <div class="col ">
      <p><b>Name</b></p>
    </div>
    <div class="col ">
      <p><b>Author</b></p>
    </div>
    <div class="col ">
      <p><b>Year</b></p>
    </div>
    <div class="col ">
      <p><b>Genres</b></p>
    </div>
  </div>
  <div *ngFor="let book of $books | async">
    <app-book-item
      [book]="book"
      (shoppingCartAdd)="addToShoppingCart($event)"
      (bookChanged)="bookChanged($event)">
    </app-book-item>
  </div>
</div>
