<dx-data-grid
    id="gridContainer"
    [dataSource]="shoppingBookList"
    [showBorders]="true">
    <dxi-column dataField="name" caption="Name">  </dxi-column>
        <dxi-column dataField="author" caption="Author">  </dxi-column>
            <dxi-column dataField="year" caption="Year">  </dxi-column>
            <dxi-column dataField="genres" cellTemplate="cellTemplate" caption="Genres"></dxi-column>
    <div *dxTemplate="let order of 'cellTemplate'">
        {{order.data.genres  | genre}}
    </div>
</dx-data-grid>
